* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(assets/assortment-cinema-elements-red-background-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-container {
    height: 800px;
}

.no-scollbar {
    overflow: hidden;
}